:root {
    --main-bg-color: rgb(24, 22, 28);
    --app-height: 50%;
}

* {

    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    height: var(--app-height);
    overflow-x: hidden;
}

h1 {
    font-weight: 300;
}

.navbar-container {
    background-color: var(--main-bg-color);
}

.content-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-title {
    text-align: center;
    font-size: 50px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    background-color: rgba(var(--main-bg-color, 0.8));
    backdrop-filter: blur(2px);
    width: auto;
    height: auto;
}

.navbar-container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-button-border {
    padding: 1px;
    background-image: linear-gradient(0deg, var(--button-border-color1), var(--button-border-color2));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.navbar-button-border:hover {
    --button-bg-angle: 180deg;
}

.navbar-button {
    padding: 20px 0 20px 0;
    width: 10vw;
    min-width: 100px;
    text-align: center;
    background-color: var(--main-bg-color);
    cursor: pointer;
    transition: 0.2s;
}

.navbar-button:hover {
    background: none;
}

.star {
    border-radius: 50%;
    background: white;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 80%;
    filter: blur(1px);
    z-index: -1000;
}

#view-on-desktop {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    display: none;
    font-size: 8px;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 100}
}
